<app-navigation-bar></app-navigation-bar> 

<section style="padding-top: 180px; padding-bottom: 150px;">
<section class="section padding-top-70 padding-bottom-100" id="features" >
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Our Services</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Get detailed information about our services.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center left-icon" data-aos="fade-right" data-aos-duration="1000">
                <img src="../../assets/images/services-1.png" class="rounded img-fluid d-block mx-auto" alt="App" style="width: 350px;">
            </div>

            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">Production Logging</h2>
                </div>
                <div class="left-text">
                    <p>Using state-of-the-art centreline and MAPS technologies, we offer valuable insight into the nature and behaviour of fluids inside a well – during production or injection – and help identify and quantify hydrocarbons in each zone. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>



<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2 class="section-title">Successful Extraction </h2>
                </div>
                <div class="left-text">
                    <p>We have the experience, technical knowledge and expertise to cut through complexity, work around the challenges and get the job done – efficiently, cost-effectively and expertly.</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big right-icon" data-aos="fade-left" data-aos-duration="2000">
                <img src="../../assets/images/services-3.png" class="rounded img-fluid d-block mx-auto" alt="App" style="width: 350px;">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>


    </div>
</section>

<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center left-icon" data-aos="fade-right" data-aos-duration="3000">
                <img src="../../assets/images/services-2.png" class="rounded img-fluid d-block mx-auto" alt="App" style="width: 350px;">
            </div>

            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">Delivery</h2>
                </div>
                <div class="left-text">
                    <p>We deliver comprehensive and high-precision data analysis and interpretation. We have an impeccable safety track record. </p>
                </div>
            </div>
        </div>

        
    </div>
</section>


</section>

<app-footer></app-footer>
