<app-navigation-bar></app-navigation-bar> 

<section style="padding-top: 90px; padding-bottom: 10px;">
<section class="section colored" id="contact-us">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Ask quotes for our prices</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Interested in learning more about our products? Check out below equipment. </p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="container">

            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="GEO 6-38" src="../../assets/images/equipment/img/geo_6-38.jpg" data-holder-rendered="true">
                  <div class="card-body">
                    <p class="card-text"><strong> GEO 6-38 </strong></p>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "mailto:raenergysolution@gmail.com" class="quote-btn">Get a quote</a> </button>
        
                    </div>
        
                  </div>
                </div>
              </div>
        
              <div class="col-md-6" data-aos="fade-up" data-aos-duration="1600">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="GEO 7"  src="../../assets/images/equipment/img/geo_7.jpg" data-holder-rendered="true">
                  <div class="card-body">
                    <p class="card-text"><strong> GEO 7 </strong></p>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "mailto:raenergysolution@gmail.com" class="quote-btn">Get a quote</a> </button>
        
                    </div>
        
                  </div>
                </div>
              </div>
        
              <div class="col-md-6" data-aos="fade-up" data-aos-duration="2200">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="GEO 4KM" src="../../assets/images/equipment/img/geo_4km.jpg" data-holder-rendered="true">
                  <div class="card-body">
                    <p class="card-text"> <strong> 4KM </strong></p>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href = "mailto:raenergysolution@gmail.com" class="quote-btn">Get a quote</a> </button>
                    </div>
        
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        

    </div>
</section>
</section>

<app-footer></app-footer>