<app-navigation-bar></app-navigation-bar> 
<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>R&A Energy Solution LLC</h1>
                    <p style="font-size: 30px;">Permain Basin</p>
                    <a href="#features" class="main-button-slider"> <strong>Discover More</strong></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" >
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12"  data-aos="fade-up" data-aos-duration="1000">
                        <div class="features-small-item">
                            <div class="icon">
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </div>
                            <h5 class="features-title">Modern Strategy</h5>
                            
                            <p>Customers are offered the best value for money, convenience, and services.</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-up" data-aos-duration="1600">
                        <div class="features-small-item">
                            <div class="icon">
                                <i class="fa fa-coffee" aria-hidden="true"></i>
                            </div>
                            
                            <h5 class="features-title">Best Relationship</h5>
                            <p>Contact us if you have a question about our products or services.</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-up" data-aos-duration="2200">
                        <div class="features-small-item">
                            <div class="icon">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </div>
                            <h5 class="features-title">Ultimate Marketing</h5>
                            <p>More sales, more profits and greater brand recognition.</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center left-icon" data-aos="fade-right" data-aos-duration="1500">
                <img src="../../assets/images/tech.png" class="rounded img-fluid d-block mx-auto" alt="App" style="width: 350px;">
               </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">What We Do</h2>
                </div>
                <div class="left-text">
                    <p>R&A Solution LLC is engaged in productive activities for the development and manufacturing of modern tools and equipment for geophysical methods of research of wells during drilling and operation of oil and gas fields.</p>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2 class="section-title">Located in Midland, Texas</h2>
                </div>
                <div class="left-text">
                    <p>R&A Solution LLC operates in Midland, Texas Since 2021. </p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big right-icon" data-aos="fade-left" data-aos-duration="1500">
                
                <img src="../../assets/images/texas-map.png" class="rounded img-fluid d-block mx-auto" alt="App" style="width: 350px;">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>Work Process</h1>
                        <p>We believe understanding work processes and how to optimize them can help our company become more efficient and productive.</p>
                    </div>
                </div>
            </div>

            <!-- ***** Mini Box Start ***** -->
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
                    <div class="features-small-item">
                        <div class="icon" style="background: white !important;">
                            <i class="fa fa-briefcase" aria-hidden="true" style="color: #0b9629; font-size: 78px !important;"></i>
                        </div>
                        <h5 class="features-title">Documentation</h5>
                        <p>Document each component of the work process and analyze any necessary documentation for each process.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1600">
                    <div class="features-small-item">
                        <div class="icon" style="background: white !important;">
                            <i class="fa fa-briefcase" aria-hidden="true" style="color: #0b9629; font-size: 78px !important;"></i>
                        </div>
                        <h5 class="features-title">Measurement</h5>
                        <p>Measure each work process to determine if breaking the project into smaller pieces can increase efficiency.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="2200">
                    <div class="features-small-item">
                        <div class="icon" style="background: white !important;">
                            <i class="fa fa-briefcase" aria-hidden="true" style="color: #0b9629; font-size: 78px !important;"></i>
                        </div>
                        <h5 class="features-title">Analysis</h5>
                        <p>Analyze all efforts and processes to determine where challenges exist and where improvements are necessary.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- ***** our-values Start ***** -->
<section class="section" id="our-values">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Our Values</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Our company's vision, mission, and principles.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** our-values Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
                <div class="features-small-item">
                    <div class="icon">
                        <i class="fa fa-user" aria-hidden="true"></i>

                    </div>
                    
                    <h5 class="features-title">Trust</h5>
                    <p>We earn the trust of our customers through compliance, privacy, and performance.</p>
                </div>
            </div>
            <!-- ***** our-values Item End ***** -->
            
            <!-- ***** our-values Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1600">
                <div class="features-small-item">
                    <div class="icon">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </div>
                    
                    <h5 class="features-title">Customer Success</h5>
                    <p>When our customers succeed, </p>
                    <p>we succeed.</p>
                </div>
            </div>
            <!-- ***** our-values Item End ***** -->
            
            <!-- ***** our-values Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="2200">
                <div class="features-small-item">
                    <div class="icon">
                        <i class="fa fa-diamond" aria-hidden="true"></i>
                    </div>
                    
                    <h5 class="features-title">Integrity</h5>
                    <p>Behaving with the highest levels of integrity is fundamental to who we are. </p>
                </div>
            </div>
            <!-- ***** our-values Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** our-values End ***** -->
<app-footer></app-footer>
