.fa-coffee, .fa-briefcase, .fa-line-chart, 
.fa-user, .fa-trophy, .fa-diamond {
    font-size: 38px !important;
    /* text-align: center; */
    vertical-align: middle;
}

.fa-area-chart, .fa-birthday-cake {
    font-size: 220px !important;
    color: #58d0ff;
    
}

.left-icon, .right-icon {
    text-align: center;
    display: block;
}

#home-feature {
  padding-top: 30px !important;
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
}

/* 
---------------------------------------------
features
--------------------------------------------- 
*/
.features-small-item {
    cursor: pointer;
    display: block;
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    margin-bottom: 30px;
  }
  
  .features-small-item:hover .icon {
    background-color: #58d0ff;
  }
  
  .features-small-item .icon {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    background: #0b9629;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .features-small-item .icon i {
    font-size: 18px;
    color: #fff;
  }
  
  .features-small-item .features-title {
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
  }
  
  .features-small-item p {
    font-weight: 400;
    font-size: 13px;
    color: #777;
    letter-spacing: 0.5px;
    line-height: 25px;
    position: relative;
    z-index: 2;
  }
  
  .features-small-item a {
    float: right;
    position: relative;
    z-index: 2;
  }
  
  .home-feature {
    padding-bottom: 0px;
    padding-top: 30px;
    margin-top: -220px;
    z-index: 9;
  }
  
  @media (max-width: 991px) {
    .home-feature {
      padding-bottom: 0px;
      padding-top: 0px;
      margin-top: 0px;
    }
  }
  

/* 
---------------------------------------------
work process
--------------------------------------------- 
*/
.mini {
    min-height: 215px;
    overflow: hidden;
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  
  .mini:before {
    content: '';
    position: absolute;
    width: 140%;
    height: 140%;
    opacity: .95;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../../assets/images/buildings.png);
    z-index: 2;
    top: -20%;
    left: -20%;
  }
  
  .mini .mini-content {
    position: relative;
    z-index: 3;
  }
  
  .mini .mini-content .info {
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .mini .mini-content .info small {
    display: block;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 5px;
  }
  
  .mini .mini-content .info strong {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 40px;
    display: block;
  }
  
  .mini .mini-content .info h1 {
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.25px;
    margin-bottom: 30px;
  }
  
  .mini .mini-content .info p {
    letter-spacing: 1px;
    margin-bottom: 40px;
    color: #fff;
    letter-spacing: 0.25px;
    line-height: 26px;
    font-weight: 400;
    font-size: 15px;
  }
  
  .mini .mini-content .info p span {
    text-decoration: underline;
  }
  
  .mini .mini-content .mini-box {
    display: block;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
  }
  
  .mini .mini-content .mini-box:hover {
    margin-top: -10px;
  }
  
  .mini .mini-content .mini-box:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #fff;
    width: 100%;
    opacity: .15;
    height: 100%;
    bottom: -10px;
    left: 0px;
    right: -20px;
    margin: auto;
    border-radius: 20px;
  }
  
  .mini .mini-content .mini-box i {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .mini .mini-content .mini-box span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #777;
    letter-spacing: .75px;
  }
  
  .mini .mini-content .mini-box strong {
    display: block;
    font-weight: 400;
    font-size: 17px;
    color: #1e1e1e;
    letter-spacing: 0.25px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  
  
  @media (max-width: 991px) {
    .parallax {
      padding-top: 60px;
      padding-bottom: 60px;
      min-height: auto;
    }
    .parallax .content {
      position: relative !important;
      top: 0% !important;
      transform: perspective(1px) translateY(0%) !important;
    }
    
  }
  /* TODO: team css */

  .mx-auto {
    filter: drop-shadow(5px 5px 4px #292930);
  }