<app-navigation-bar></app-navigation-bar>

<section style="padding-top: 150px;">
<section class="section" id="our-values">
  <div class="container">
      <!-- ***** Section Title Start ***** -->
      <div class="row">
          <div class="col-lg-12">
              <div class="center-heading">
                  <h2 class="section-title">Talk To Us</h2>
              </div>
          </div>
          <div class="offset-lg-3 col-lg-6">
              <div class="center-text">
                  <p>Need to get in touch with us? We'd love to hear from you.</p>
              </div>
          </div>
      </div>
      <!-- ***** Section Title End ***** -->

      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
              <div class="features-small-item">
                  <div class="icon">
                    <i class="fa fa-map" aria-hidden="true"></i>
                  </div>
                  <h4 class="features-title">We Are Located At</h4>
                  <h6>Midland, Texas</h6>
              </div>
          </div>

          
          <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="1600">
              <div class="features-small-item">
                  <div class="icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <h4 class="features-title">Mail Us</h4>
                  <h6> support@raenergysolution.com </h6>
                  
              </div>
          </div>  
          
          <div class="col-lg-4 col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="2200">
            <div class="features-small-item">
                <div class="icon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <h4 class="features-title">Give Us A Call </h4>
                <h6>1-432-741-09-47</h6>
            </div>
          </div>

      </div>

  </div>
</section>
</section>


<app-footer></app-footer>